@import url(vars.css);

@font-face {
  font-display: optional;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100 900;
  src: url('/fonts/montserrat.woff2') format('woff2');
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat';
  font-size: 100%;
  scroll-behavior: smooth;
  touch-action: manipulation;
}

body {
  display: grid;
  grid-template-columns: 
    [fullbleed-start] 1fr
    [content-start] minmax(0, var(--layout-width))
    [content-end] 1fr
    [fullbleed-end];
  grid-template-rows:
    [navbar] min-content
    [header] min-content
    [main] 1fr
    [footer] min-content;
  height: 100vh;
  margin: 0;
}