@import url(vars.css);

@font-face {
  font-display: optional;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100 900;
  src: url('/fonts/montserrat.woff2') format('woff2');
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  /* color-scheme: light dark; */
  font-family: 'Montserrat';
  font-size: 100%;
  scroll-behavior: smooth;
  touch-action: manipulation;

  /* &:has(input[value='dark']:checked) {
    color-scheme: dark;
  }
  
  &:has(input[value='light']:checked) {
    color-scheme: light;
  } */
}

body {
  display: grid;
  gap: 0 var(--indent-16-24);
  grid-template-columns: 
    [fullbleed-start] minmax(0, 1fr)
    [content-start] 1240px
    [content-end] minmax(0, 1fr)
    [fullbleed-end];
  grid-template-rows:
    [navbar] min-content
    [header] min-content
    [main] 1fr
    [footer] min-content;
  margin: 0;
}